$main-color: #3467DD;
$main-color-light: #648FF3;
$main-color-medium: #496EC4;
$main-color-dark: #0F45C2;
$main-color-accent: #f9a825;
$main-color-text: #424242;
$main-color-text-light: #bdbdbd;
$main-bg-color: #eee;